@model dotnetconfpl.DAL.Attende

@{
    ViewBag.Name = "Rejestracja";
}

Rejestracja nie jest obowiązkowa. Wydarzenie nie wymaga byś dokonał/a rejestracji.
Jednakże potrzebujemy wiedzieć jakie jest zaintereswanie.

@using (Html.BeginForm())
{
    <fieldset>
     <div class="editor-label">
          @Html.LabelFor(model => model.Name)
     </div>
     <div class="editor-field">
          @Html.EditorFor(model => model.Name)
          @Html.ValidationMessageFor(model => model.Name)
     </div>

     <div class="editor-label">
          @Html.LabelFor(model => model.Mail)
     </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mail)
            @Html.ValidationMessageFor(model => model.Mail)
        </div>

     <p>
          <input type="submit" value="Rejestruj" />
     </p>
</fieldset>   
}
