<div class="container-fluid" style="font-family: 'Segoe UI', Segoe, Arial, Verdana, sans-serif; color: #ccc; font-size: 20px; line-height: 150%; padding: 20px; text-align: center">

    <div class="row-fluid">
        <div class="span6 offset3">
            <h1 style="font-weight: normal; margin: -20px 0 40px 0">Agenda</h1>            
                <div class="line"></div>
            </div>        
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <h3 style="font-weight: normal">15:00 - 16:00</h3>
            <h2 style="font-weight: normal">Testy jednostkowe w .NET</h2>
            @Html.ActionLink("Maciej Aniserowicz", "Speakers")
            <p>
                Podczas sesji zaprezentowane zostanie pragmatyczne podejście do pisania testów jednostkowych w .NET. 
                Teoria w połączeniu z praktyką zademonstrują dlaczego automatyczne testowanie oprogramowania jest niezmiernie ważne oraz... jak robić to bezboleśnie.
            </p>            
            <p> 
                <iframe width="640" height="360" src="//www.youtube.com/embed/gQaShMN_tN8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
            </p>
            <div class="line"></div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span6 offset3">
            <h3 style="font-weight: normal">16:00 - 17:00</h3>
            <h2 style="font-weight: normal">scriptcs - C# na diecie</h2>
            @Html.ActionLink("Filip Wojcieszyn", "Speakers")
            <p>
                scriptcs to inicjatywa Open Source mająca na celu dostarczenie programistom C# rewolucyjnego modelu tworzenia aplikacji w znanym im języku, 
                acz z lekkością i dynamicznością charakterystyczną dla node.js - bez użycia Visual Studio, z uproszczoną semantyką języka 
                i bez problematycznej otoczki związanej z kompilacją czy zarządzaniem DLL-kami.
                scriptcs integruje się głęboko z Nugetem oraz proponuje unikalny model roszerzeń wzorowany na "require" znanym z node.js. 
                scriptcs to niezwykle subtelna i ekscytująca wyprawa w kraine skryptowego C#.
            </p>    
            <p> 
                <iframe width="640" height="360" src="//www.youtube.com/embed/d72N_ZyvlMA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
            </p>      
            <div class="line"></div>              
        </div>
    </div>


    <div class="row-fluid">
        <div class="span6 offset3">
            <h3 style="font-weight: normal">17:00 - 18:00</h3>
            <h2 style="font-weight: normal">JavaScript dla C# developera</h2>
            @Html.ActionLink("Jakub Gutkowski", "Speakers")
            <p>
                Sejsa poświęcona JavaScriptowi. Językowi, który kochamy i nienawidzimy. Jakub pokaże częste problemy na jakie natrafia programista C# w JavaScript. 
                Będzie o różnicach, podobieństwach oraz tym co jest prawdą w C#, a JavaScripcie nie jest.
            </p>     
            <p> 
                <iframe width="640" height="360" src="//www.youtube.com/embed/kleyCHc8Ecw?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
            </p>     
            <div class="line"></div>              
        </div>
    </div>


    <div class="row-fluid">
        <div class="span6 offset3">
            <h3 style="font-weight: normal">18:00 - 19:00</h3>
            <h2 style="font-weight: normal">PRZERWA</h2>        
            <div class="line"></div>              
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <h3 style="font-weight: normal">19:00 - 20:00</h3>
            <h2 style="font-weight: normal">Node.js, Edge.js i Windows Azure</h2>
            @Html.ActionLink("Tomasz Janczuk", "Speakers")
            <p>
                Dowolna aplikacja webowa może być zaimplementowana zarówno w Node.js jak i w .NET. Jednak każda z tych technologii ma swoje mocne i słabe strony. 
                Wykonywanie obliczeń obciążających procesor albo dostęp do MS SQL z Node.js nie jest łatwy. 
                Podobnie dostęp do baz danych NoSQL ze środowiska CLR nie jest tak naturalny jak z JavaScript. 
                Wybór określonej technologii do implementacji całości aplikacji jest więc często kompromisem. 
                Lepszym rozwiązaniem dla programisty byłaby możliwość wyboru technologii w zależności od aspektu aplikacji. 
                W czasie tej sesji Tomek pokaże sposób tworzenia aplikacji webowych wykorzystujących zarówno Node.js jak i .NET 
                w ramach jednego procesu systemowego w oparciu o Edge.js (<a href="http://tjanczuk.github.io/edge">http://tjanczuk.github.io/edge</a>). 
                Edge.js umożliwia wymianę danych pomiędzy V8 i CLR oraz zapewnia synchronizację jednowątkowego
                 modelu Node.js i wielowątkowego modelu CLR w obrębie pojedynczego procesu. Ułatwia to tworzenie 
                hybrydowych rozwiązań wykorzystujących mocne strony obu technologii. 
                Na koniec zostanie pokazane jak w łatwy sposób aplikacja taka może być udostępniona w internecie w oparciu o Windows Azure Web Sites. 
            </p>   
            <p> 
                <iframe width="640" height="360" src="//www.youtube.com/embed/jAU4d7nVTdU?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
            </p>         
            <div class="line"></div>             
        </div>
    </div>


    <div class="row-fluid">
        <div class="span6 offset3">
            <h3 style="font-weight: normal">20:00 - 21:00</h3>
            <h2 style="font-weight: normal">Windows Phone 8 Tips &amp; Tricks</h2>
            @Html.ActionLink("Maciej Grabek", "Speakers")
            <p>
                Windows Phone to dynamicznie rozwijająca się platforma, która zdobywa coraz większą rzeszę zwolenników i programisów.
                Okazuje się, że posiada również pewne arkana, o których nie wszyscy wiedzą, a które pozwalają tworzyć lepsze i bardziej przyjazne użytkownikom aplikacje. 
                Dołącz się do konreferncji i przekonaj co jeszcze warto wiedzieć o Windows Phone.
            </p>      
            <p> 
                <iframe width="640" height="360" src="//www.youtube.com/embed/PdNnnRpKQkI?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
            </p>
            <div class="line"></div>            
        </div>
    </div>


    

    

    

    
</div>