@model IEnumerable<dotnetconfpl.Model.Session>

<div class="container-fluid" style="font-family: 'Segoe UI', Segoe, Arial, Verdana, sans-serif; color: #ccc; font-size: 20px; line-height: 150%; padding: 20px; text-align: center">

    <div class="row-fluid">
        <div class="span6 offset3">
            <h1 style="font-weight: normal; margin: -20px 0 40px 0">Agenda</h1>
            <div class="line"></div>
        </div>
    </div>
@foreach (var item in Model) {
    <div class="row-fluid">
        <div class="span6 offset3">
            <h3 style="font-weight: normal">@item.Time</h3>
            <h2 style="font-weight: normal">@item.Title</h2>
            @Html.ActionLink(item.Speaker.Name, "Speakers")
            <p>
               @Html.Raw(item.About)
            </p>
            @if (item.YoutubeUrl.IsEmpty() == false) 
            {
                <p>
                    <iframe width="640" height="360" src="@item.YoutubeUrl" frameborder="0" allowfullscreen></iframe>
                </p>
            }
            <div class="line"></div>
        </div>
    </div>  
}  
</div>
