<div class="container-fluid" style="font-family: 'Segoe UI', Segoe, Arial, Verdana, sans-serif; color: #ccc; font-size: 20px; line-height: 150%; padding: 20px; text-align: center">

    <div class="row-fluid">
        <div class="span6 offset3">
            <h1 style="font-weight: normal; margin: -20px 0 40px 0">Agenda</h1>            
                <div class="line"></div>
            </div>        
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 style="font-weight: normal">Testy jednostkowe w .NET</h2>
            @Html.ActionLink("Maciej Aniserowicz", "Speakers")
            <p>
                Podczas sesji zaprezentowane zostanie pragmatyczne podejście do pisania testów jednostkowych w .NET. 
                Teoria w połączeniu z praktyką zademonstrują dlaczego automatyczne testowanie oprogramowania jest niezmiernie ważne oraz... jak robić to bezboleśnie.
            </p>            
            <div class="line"></div>
        </div>
    </div>


    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 style="font-weight: normal">Windows Phone 8.1 Tips &amp; Tricks</h2>
            @Html.ActionLink("Maciej Grabek", "Speakers")
            <p>
                ...
            </p>      
            <div class="line"></div>            
        </div>
    </div>


    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 style="font-weight: normal">Node.js, Edge.js i Windows Azure</h2>
            @Html.ActionLink("Tomasz Janczuk", "Speakers")
            <p>
                ... 
            </p>            
            <div class="line"></div>             
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 style="font-weight: normal">JavaScript dla C# developera</h2>
            @Html.ActionLink("Jakub Gutkowski", "Speakers")
            <p>
                Sejsa poświęcona JavaScriptowi. Językowi, który kochamy i nienawidzimy. Jakub pokaże częste problemy na jakie natrafia programista C# w JavaScript. 
                Będzie o różnicach, podobieństwach oraz tym co jest prawdą w C#, a JavaScripcie nie jest.
            </p>          
            <div class="line"></div>              
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 style="font-weight: normal">ReSharper i inne dopalacze programisty</h2>
            @Html.ActionLink("Łukasz Gąsior", "Speakers")
            <p>
                ...
            </p>          
            <div class="line"></div>              
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 offset3">
            <h2 style="font-weight: normal">scriptcs - C# na diecie </h2>
            @Html.ActionLink("Filip Wojcieszyn", "Speakers")
            <p>
                scriptcs to inicjatywa Open Source mająca na celu dostarczenie programistom C# rewolucyjnego modelu tworzenia aplikacji w znanym im języku, 
                acz z lekkością i dynamicznością charakterystyczną dla node.js - bez użycia Visual Studio, z uproszczoną semantyką języka 
                i bez problematycznej otoczki związanej z kompilacją czy zarządzaniem DLL-kami.
                scriptcs integruje się głęboko z Nugetem oraz proponuje unikalny model roszerzeń wzorowany na "require" znanym z node.js. 
                scriptcs to niezwykle subtelna i ekscytująca wyprawa w kraine skryptowego C#.
            </p>          
            <div class="line"></div>              
        </div>
    </div>
</div>