@model IEnumerable<dotnetconfpl.Model.Session>

@{
    ViewBag.Title = "dotnetconf.pl";
    string friday = "";
    string saturday = "";
    if (Model.Any())
    {
        foreach (var item in Model.Where(i => i.Time.Contains("4.10")))
        {
            friday += item.Time;
            friday += " - " + item.Speaker.Name;
            friday += " - " + item.Title;
            friday += @"\n";
        }
        foreach (var item in Model.Where(i => i.Time.Contains("5.10")))
        {
            saturday += item.Time;
            saturday += " - " + item.Speaker.Name;
            saturday += " - " + item.Title;
            saturday += @"\n";
        }
    }
}

<header style="background-image: url('/Content/images/dotNetConfPL-background.jpg'); background-size: cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <br />
                    <span class="name">4-5 października 2019</span>
                    <p class="skills">4.10 (Piątek) 17:45 - 21:00</p>
                    <div title="Dodaj do kalendarza (Piątek)" class="addeventatc">
                        Dodaj do kalendarza
                        <span class="start">10/4/2019 17:45</span>
                        <span class="end">10/04/2019 21:00</span>
                        <span class="timezone">Europe/CET</span>
                        <span class="title">dotNetConfPL 2019 cz. 1</span>
                        <span class="description">@friday</span>
                    </div>
                    <p class="skills">5.10 (Sobota) 10:30 - 14:00</p>
                    <div title="Dodaj do kalendarza (Sobota)" class="addeventatc">
                        Dodaj do kalendarza
                        <span class="start">10/05/2019 10:30</span>
                        <span class="end">10/05/2019 14:00</span>
                        <span class="timezone">Europe/CET</span>
                        <span class="title">dotNetConfPL 2019 cz. 2</span>
                        <span class="description">@saturday</span>
                    </div>
                    <hr>
                    <span class="skills">
                        Wirtualna konferencja dla .NET developerów.
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="text-center">
                            W tym roku spotykamy się online po raz 7!
                        </p>
                    </div>
                </div>
                @if (!Model.Any())
                {
                    <div class="row"><h3>Agenda już wkrótce!</h3></div>
                    <div class="row"><h2>@Html.ActionLink("Call For Papers", "CallForPapers")</h2></div>
                }
                @foreach (var item in Model)
                {
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            @if (!string.IsNullOrEmpty(item.Time))
                            {
                                <h3 style="font-weight: normal">@item.Time</h3>
                            }
                            <h2 style="font-weight: normal">@item.Title</h2>
                            <h4>@Html.ActionLink(item.Speaker.Name, "Speakers")</h4>
                            <p>
                                @Html.Raw(item.About)
                            </p>
                            @if (!string.IsNullOrEmpty(item.YoutubeUrl))
                            {
                                <p class="text-center">
                                    <iframe width="640" height="360" src="@item.YoutubeUrl" frameborder="0" allowfullscreen></iframe>
                                </p>
                            }
                            <hr />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2>Partnerzy</h2>
            <hr class="partners-primary">
        </div>
        <div class="col-lg-12 text-center" style="margin-top: 20px">
            Chcesz zostać partnerem konferencji? <a href="mailto:dotnetconfpl@gmail.com">Napisz do nas</a>!
        </div>
    </div>
</section>
