@model dotnetconfpl.Controllers.StreamModel

@{
    ViewBag.Title = "dotnetconf.pl";
}

<script src="/Scripts/jquery.signalR-1.1.3.min.js"></script>
<script src="/signalr/hubs"></script>

@{
    var url = @Model.CurrentStream;
}

<div id="inject-place">
    <label id="stream-title">@Html.Raw(Model.CurrentStreamInfo)</label>
    <iframe width="420" height="315" src="@url" frameborder="0" allowfullscreen></iframe> 
</div>

<div>
   <p class="last-chance-text">Stream odświeża się automatycznie, w razie awarii
    <a style="font-size:12px;"id="ForceRefresh" href="@Url.Action("Stream")"  >Odświeżenie ostatniej szansy :)</a></p>
</div>

@if (Model.IsAdmin)
{
    <label>Stream Url</label>
    <input id="new-stream" />
    <br/>
    <label>Password</label> 
    <input id="password" />
    <br/>
    <select id="selected-stream">
        <option value="brak">brak</option>
        <option value="maniserowicz">maniserowicz</option>
        <option value="filipwoj">filipwoj</option>
        <option value="lukaszgasior">lukaszgasior</option>
        <option value="gutek">gutek</option>
        <option value="mgrabek">mgrabek</option>
        <option value="tjanczuk">tjanczuk</option>
    </select>
    <button id="btn-set-stream">Set Stream</button>
}

<script type="text/javascript">
    $(function () {
        var injectHub = $.connection.injectHub;
        injectHub.client.updateClient = function(stream, streaimInfo) {
            $('#inject-place iframe').attr('src', stream);
            $('#stream-title').html(streaimInfo);
        };
        
        $.connection.hub.start().done(function () {
            $('#btn-set-stream').click(function () {
                injectHub.server.updateStream($('#new-stream').val(), $('#password').val(), $('#selected-stream').val());
                $.post("@Url.Action("UpdateStream")", { newStream: $('#new-stream').val(), password: $('#password').val(), streamType: $('#selected-stream').val() });
            });
        });
        
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 10000);
        });
    });
</script>